.gridness{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(12, minmax(10px, 1fr));
	border: 2px solid forestgreen;
}

.top-header{
	grid-column: 1 / 13;
	grid-row: 1 / 2;
	background: tomato;
}
.profile-cards, aside{
	grid-row: 2 / 3;
}
.profile-cards{
	grid-column: 1 / 9;
}
aside{
	background: lightblue;
	grid-column: 9 / 13;
}
footer{
	border: 1px solid blue;
	grid-column: 5 / 9;
}
/* Sub Grid profile cards */
.profile-cards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;
}
/* Sub Grid Profile card individual */
.profile-card {
	max-width: 40%;
	margin: 20px auto;
	box-shadow: 2px 2px 5px 2px rgba(0,0,0, 0.3);
	border-radius: 5px;
	display: grid;
	grid-template-columns: repeat(2, minmax(5px, 1fr));
	justify-content: end;
	align-content: stretch;
	justify-items: center;
	align-items: start;
}
.profile-card__body{
	grid-row: 2 / 3;
    grid-column: 2 / 3;
}